  
<h2>Add a game</h2>
<form action="/games" method="POST">
  <p>Please add a name for this game: <input type="text" name="content"></p>
  <p>Damage: <input type ="integer" name="damage_done"></p>
  <p>Kills: <input type ="integer" name="kill_amount"></p>
  <p>Placement: <input type ="integer" name="placement"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>

