  
<h2>Add a game</h2>
<form action="/games" method="POST">
  <p>Please add a name for this game: <input type="text" name="content"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>