<br>
<h1> Welcome, <%= @current_user.username %> </h1>
<h3> Here are your saved games </h2>


<%@current_user.games.each do |game| %>
  <ul>
    <li><a href="/games/<%=game.id%>"> <%=game.content%> </a> - <%=game.created_at.to_date%>
  </ul>
<% end %>

<p>
<br>
<a href="/games/new"> Add Game </a>
<br>
<a href="/logout"> Log Out </a>
</p>





