
<h2 style="margin-left: .5em;"> 
This is a platform for you to manually add your stats for each game to track your progression!</h2>
<h3>Please signin or signup :</h3>

<nav>
  <% if logged_in? %>

    <a href="/games/new"> Add Game </a>
    <a href="/logout"> Log Out </a>
    <p>Welcome, <%=current_user.username %></p>

  <% else %>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
  <%end %>

</nav>